<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ap.edu.owa_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_smiley"
        android:label="NOT OWA"
        android:roundIcon="@mipmap/ic_smiley"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Intent filter to capture System Browser calling back to our app after Sign In -->
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Add in your scheme/host from registered redirect URI -->
                <!-- By default, the scheme should be similar to 'msal[appId]' -->
                <data
                    android:host="auth"
                    android:scheme="msal0f1fbbeb-1161-4034-9875-70c8099230d7" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mail.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mail.OpenMailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mail.Sendmail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mail.ForwardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar.CalendarActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_calendar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar.ListEventsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar.ListEventDateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar.DetailEventsView"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar.AddEventActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contacts.ContactsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contacts.ContactsDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contacts.EditContactActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Contacts.AddContactActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Mail.SearchScreenActivity" />
        <activity android:name=".Mail.SearchResultActivity" />
        <activity android:name=".Mail.ReplyActivity" />
        <activity android:name=".Mail.ReplyAllActivity" />
        <activity android:name=".Calendar.AttendeesActivity" />

        <!-- fcm -->

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>