<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ap.edu.owa_app">

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Intent filter to capture System Browser calling back to our app after Sign In -->
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Add in your scheme/host from registered redirect URI -->
                <!-- By default, the scheme should be similar to 'msal[appId]' -->
                <data
                    android:host="auth"
                    android:scheme="msal0f1fbbeb-1161-4034-9875-70c8099230d7" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".OpenMailActivity" />
        <activity android:name=".Sendmail" />
        <activity android:name=".ForwardActivity" />
        <activity
            android:name=".Calendar.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Calendar.ListEventsActivity" />
        <activity android:name=".Calendar.ListEventDateActivity" />
        <activity android:name=".Calendar.DetailEventsView" />
        <activity android:name=".Calendar.AddEventActivity"></activity>
    </application>

</manifest>